[user]
	email = mail@krinitsin.com
	name = Christian Krinitsin
	signingkey = 799D00D6E6A68B08
[pull]
	rebase = true
[commit]
	gpgsign = true
[core]
	excludesfile = /home/chris/.dotfiles/common/git/.gitignore
[merge]
	tool = nvimdiff
